@charset "UTF-8";

body {
    color: #FFFFFF;
    /*Deixar o background degradê*/
    background-image: linear-gradient(to right, #202020, #000000);
    font-family:'Times New Roman', Times, serif
}
/*Todos que começam com . são classes*/
.barra {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

img.perfil {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.center {
    text-align: center;
    padding: 200px 1em 0 1em;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon a{
    margin: 15px;
}

.copyright{
    padding: 200px;
    text-align: center;
}

.designer{
    opacity: 0.5;
    text-transform:initial;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

h1 {
    text-align: center;   
    font-size: 45px;
    
}

h2 {    
    text-align: center;
    font-size: 15px;
}

img.port{
    margin: 0px auto;
}
